<app-header></app-header>

<div class="aParent">
  <div class="center">
    <button (click)="navigateToNewEmployee()">Neuer Mitarbeiter</button>
  </div>
  <div class="centerSearch">
    <input type="text"
           placeholder="Suche"
           [(ngModel)]="searchTerm"
           (input)="onSearchInput()">
  </div>
</div>


<div>
  <table class="table table-hover ms-4 me-4">
    <thead>
    <tr>
      <th scope="col">Mitarbeiter ID</th>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Adresse</th>
      <th scope="col">Postleitzahl</th>
      <th scope="col">Stadt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of filteredEmployees$ | async">
      <td>{{ e.id }}</td>
      <td>{{ e.lastName }}</td>
      <td>{{ e.firstName }}</td>
      <td>{{ e.street }}</td>
      <td>{{ e.postcode }}</td>
      <td>{{ e.city }}</td>
      <td>
        <button type="button" class="btn btn-outline-primary me-2" (click)="navigateToView(e.id)">Details</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="(filteredEmployees$ | async)?.length === 0" class="text-center mt-3">
    Keine passenden Mitarbeiter gefunden
  </div>
</div>


