<div class="form-container">

  <div class="overlay" *ngIf="showError">
    <div class="confirmation-box">
      <p>Es müssen alle Felder ausgefüllt sein</p>
      <button class="button" (click)="showErrorOff()">Ok</button>
    </div>
  </div>
  <div class="overlay" *ngIf="falsePLZ">
    <div class="confirmation-box">
      <p>Postleitzahl muss 5 nummern haben</p>
      <button class="button" (click)="falsePLZOff()">Ok</button>
    </div>
  </div>

  <h2>Neuer Mitarbeiter</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="input-group">
      <label for="firstName">Vorname:</label>
      <input type="text" id="firstName" [(ngModel)]="formData.firstName" name="firstName" required>
    </div>

    <div class="input-group">
      <label for="lastName">Nachname:</label>
      <input type="text" id="lastName" [(ngModel)]="formData.lastName" name="lastName" required>
    </div>

    <div class="input-group">
      <label for="phone">Telefonnummer:</label>
      <input type="text" id="phone" [(ngModel)]="formData.phone" name="phone" required>
    </div>

    <div class="input-group">
      <label for="city">Stadt:</label>
      <input type="text" id="city" [(ngModel)]="formData.city" name="city" required>
    </div>

    <div class="input-group">
      <label for="street">Straße:</label>
      <input type="text" id="street" [(ngModel)]="formData.street" name="street" required>
    </div>

    <div class="input-group">
      <label for="postalCode">Postleitzahl:</label>
      <input type="text" id="postalCode" [(ngModel)]="formData.postcode" name="postalCode" required maxlength="5"
             minlength="5">
    </div>

    <div class="button-group">
      <button type="button" class="cancel" (click)="onCancel()">Abbrechen</button>
      <button type="submit" class="save">Speichern</button>
    </div>
  </form>
</div>
